*{
    margin: 0;
    padding: 0;
}
.central{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 100% 20%;
}
header{
    background-color: white;
    border-style: solid;
    grid-column: 1 / span 2;
    border-color: blue;
}
nav{
    background-color: white;
    border-style: solid;
    grid-column: 1 / span 2;
    border-color: blue;
}
section{
    display: grid;
    background-color: white;
    border-style: solid;
    border-color: blue;
    grid-template-rows: auto auto auto;
}
article{
    background-color: rgb(146, 195, 228);
    margin: 1%;
    width: 80%;
    height: 80%;
    font-size: 200%;
    text-align: center;
    position: relative;
    color: black; 
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-color: rgb(185, 128, 150);
    border-style: solid;
}
aside{
    background-color: white; 
    border-style: solid;
    border-color: blue;
}
footer{
    background-color: white;
    border-style: solid;
    grid-column: 1 / span 2;
    border-color: blue;
}
h1{
    width: 94%;
    height: 75%;
    font-size: 200%;
    text-align: center;
    position: relative;
    color: black; 
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(228, 202, 222);
    border-color: rgb(185, 128, 150);
    border-style: solid;
}
h2{
    width: 90%;
    height: 370%;
    font-size: 200%;
    text-align: center;
    position: relative;
    color: black; 
    top: 220%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(228, 202, 222);
    border-color: rgb(185, 128, 150);
    border-style: solid;
}
h3{
    width: 90%;
    height: 92%;
    font-size: 200%;
    text-align: center;
    position: relative;
    color: black; 
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(228, 202, 222);
    border-color: rgb(185, 128, 150);
    border-style: solid;
}
@media (min-width: 769px){
    .central{
        grid-template-rows: 30% 30% 110% 60% 30%;
    }
    h3, h1{
        background-color: yellowgreen;
    }
    h2{
        background-color: yellowgreen;
        height: 400%;
    }
    article{
        background-color: yellow;
    }
    nav, footer, aside, header, section{
        border-color: green;
    }
}
@media (min-width: 1080px){
    .central{
        grid-template-rows: 20% 20% 100% 50% 20%;
    }
    h3, h1{
        background-color: red;
    }
    h2{
        background-color: red;
        top: 250%;
        height: 450%
    }
    article{
        background-color: pink;
    }
    section, aside{
        grid-column: 1 / span 2;
    }
    nav, section, header, aside, footer{
        border-color: brown;
    }
}